<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="error"
      internalLogFile="D:\JavaAppLogs\Blog\blog-ms-usercenter\nlog-internal\log.txt">
  <!--autoReload：修改后自动加载，可能会有延迟-->
  <!--throwConfigExceptions：NLog日志系统抛出异常-->
  <!--internalLogLevel：内部日志的级别-->
  <!--internalLogFile：内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->
  <!--输出日志的配置，用于rules读取-->
  <targets async="true">
    <target name="debug-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultLogPath}\debug\${event-properties:item=folder}\debug.${date:format=yyyy-MM-dd.HH}.log"
              layout="${longdate} ${event-properties:item=machinename} action:${event-context:item=Action} threadid:[${threadid}] ${message} ${stacktrace}" archiveAboveSize="50485760" />
    </target>
    <target name="error-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultLogPath}\error\${event-properties:item=folder}\error.${date:format=yyyy-MM-dd.HH}.log"
              layout="${longdate} ${event-properties:item=machinename} action:${event-context:item=Action} threadid:[${threadid}] ${message} ${stacktrace}" archiveAboveSize="50485760" />
    </target>
    <target name="info-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultLogPath}\info\${event-properties:item=folder}\info.${date:format=yyyy-MM-dd.HH}.log"
              layout="${longdate} ${event-properties:item=machinename} action:${event-context:item=Action} threadid:[${threadid}] ${message}" archiveAboveSize="50485760" />
    </target>
  </targets>
  <rules>
    <!--level匹配单一级别， minLevel、maxLevel匹配最小、最大日志级别-->
    <logger name="*" level="Debug" writeTo="debug-file" />
    <logger name="*" level="Info" writeTo="info-file" />
    <logger name="*" level="Error" writeTo="error-file" />
  </rules>
</nlog>